<main>
  <section class="about">
    <div class="container centered-page">
      <div id="author">
        <div class="image">
          <img src="assets/images/author.jpg" alt="photo.png" />
        </div>
        <div class="description">
          <p>
            Hi, my name is Victor Cheeney. I'm a full time student and I use my
            free time on evenings and weekends to create projects like this one.
          </p>
        </div>
      </div>
      <div id="story">
        <p>A few years ago, I read "The Slight Edge" by Jeff Olson.</p>

        <p>
          In this book, the author shows us how our daily habits affect our
          lives. He then goes on to illustrate how changing some of these habits
          can have a phenomenal positive impact on our future.
        </p>
        <p>
          I have since adopted several habits that I do every day or every week
          depending on the habit in question.
        </p>
        <p>
          At first it was difficult, until I started keeping track of the days I
          did my habits. From there, the feeling of moving forward and not doing
          things for nothing became more present.
        </p>
        <p>
          This encouraged me to create a web application to help people keep
          track of their habits. Users can create habits, add recurrences, and
          check off their habits when they are done for the day.
        </p>
        <p>
          In the near future, users will also be able to see statistics on their
          habits such as the number of days since the habit was started, the
          number of days the habit was not completed, the number of days in the
          last series without interruption, etc.
        </p>
        <p>
          The app is still in development. That said, I'm always open to
          comments, criticism, ideas and bug reports. You can write me from the
          contact page.
        </p>
      </div>
    </div>
  </section>
  <section class="contact">
    <div class="container centered-page">
      <button mat-flat-button id="button-contact" routerLink="/contact">
        Contact me
      </button>
    </div>
  </section>
</main>
