/* You can add global styles to this file, and also import other style files */

/* @import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css"; */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import 'theme.scss';
@include mat-core();
@include angular-material-theme($my-theme);

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

/* Par défaut, Chrome ajoute des margins au body. Je les enlève sinon ça vient briser le design */
body {
  margin: 0;
  height: 100%;
}

// En ajoutant ce bode, on peut se débarasser des barres jaunes causées par Chrome dans les inputs.
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

// J'overwrite la grosseur des checkboxes de Material Angular
.mat-checkbox-inner-container {
  height: 32px !important;
  width: 32px !important;

  // Si on doit changer la grandeur des checkbox sur un petit écran:
  @media screen and (max-width: 992px) {
    & {
      height: 32px !important;
      width: 32px !important;
    }
  }
}

// Texte uniforme dans toute l'application
h1 {
  font-size: 75px;
  font-weight: bold;
  color: white;
  margin: 100px 0 0 0;
  text-align: center;
}

h2 {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-weight: normal;
  margin: 0;
  font-size: 22px;

  @media screen and (max-width: 992px) {
    & {
      font-size: 20px;
    }
  }
}

button {
  width: 100%;
  height: 50px;
  background: #00ac00;
  font-weight: bold;
}

section {
  display: flex;
  justify-content: center;
}

.container {
  padding: 0 5%;
  width: 100%;
  box-sizing: border-box;
}

div.centered-page {
  max-width: 1000px;
}
