<main>
  <section class="hero">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
    >
      <polygon fill="white" points="0,0 100,100 0,100"></polygon>
    </svg>
    <div class="container">
      <h1>digihabits</h1>
    </div>
  </section>

  <section class="under-hero">
    <div class="container">
      <h2>Improve your life by adopting good habits</h2>
      <p>
        Digihabits aims to facilitate the adoption of good habits by providing a
        tool for its users to keep track of their progress.
      </p>
    </div>
  </section>

  <section class="why">
    <svg
      class="top"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
    >
      <polygon fill="white" points="0,0 100,0 0,100"></polygon>
    </svg>
    <div class="container">
      <h2>Why?</h2>
      <p>
        Our daily choices may seem trivial, but repeated day after day, they
        help shape the people we are. That's why adopting good lifestyle habits
        can have an exponential impact on our future.
      </p>
      <img src="assets/icons/growth.svg" alt="" />
    </div>
    <svg
      class="bottom"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
    >
      <polygon fill="white" points="0,100 100,0 100,100"></polygon>
    </svg>
  </section>

  <section class="how">
    <svg
      class="top"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
    >
      <polygon points="0,100 100,0 100,100"></polygon>
    </svg>
    <div class="container">
      <h2>How does it works?</h2>
      <div id="steps">
        <div class="step1text">
          <div class="text-div">
            <span class="step-number">1</span>
            <p>Create a habit and define a recurrence.</p>
          </div>
        </div>
        <div class="step2text">
          <div class="text-div">
            <span class="step-number">2</span>
            <p>
              Log in to the application every day to check off completed
              completed habits.
            </p>
          </div>
        </div>
        <div class="step1image">
          <img src="assets/images/step1image.png" alt="" />
        </div>
        <div class="step2image">
          <img src="assets/images/step2image.png" alt="" />
        </div>
      </div>
    </div>
  </section>

  <section class="try">
    <div class="container">
      <h2>Want to try it out for yourself?</h2>
      <div id="options">
        <div class="text-demo">
          <p>Do yourself a favor and try our <b>demo</b>.</p>
        </div>
        <div class="text-signup">
          <p>
            Already convinced? We invite you to create your <b>free</b> account
            and create your first habits.
          </p>
        </div>
        <div class="button-demo">
          <button mat-flat-button id="button-demo" (click)="connectToDemo()">
            Try the demo
          </button>
        </div>
        <div class="button-signup">
          <button mat-flat-button id="button-signup" (click)="signup()">
            Create my account
          </button>
        </div>
      </div>
    </div>
    <svg
      class="bottom"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
    >
      <polygon points="0,0 100,0 0,100"></polygon>
    </svg>
  </section>

  <section class="inspiration">
    <div class="container">
      <h2>Need some inspiration?</h2>
      <p>Here's a few habits that you could be interested in.</p>
      <ul>
        <li>Go for a 5 to 10 km run every Tuesday and Thursday.</li>
        <li>Read 10 pages of a book every day.</li>
        <li>Drink at least 2 liters of water every day.</li>
        <li>Get 7 to 9 hours of sleep every day.</li>
        <li>Plan my week every Sunday.</li>
        <li>
          Do my favorite activity for 2 hours every Monday, Wednesday and
          Saturday.
        </li>
      </ul>
    </div>
  </section>

  <footer>
    <svg
      class="top"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
    >
      <polygon fill="white" points="0,0 100,0 100,100"></polygon>
    </svg>
    <div class="container">
      <div class="credentials">
        <h3>digi<span>habits</span></h3>
        <p>
          Application designed and developed by
          <strong routerLink="/about">Victor Cheeney</strong>
        </p>
      </div>
      <div class="year">
        <p><b>2019</b></p>
      </div>
    </div>
  </footer>
</main>
